MINIO_ACC_KEY_ID= minio-acc-key
MINIO_SECRET_ACC_KEY= minio-secret-key

POSTGRES_USER= postgres?
POSTGRES_PASSWORD= password?
POSTGRES_HOST= localhost?
POSTGRES_DB= filend?
POSTGRES_PORT= 5432?

MINIO_ROOT_USER= minio-root?
MINIO_ROOT_PASSWORD= minio-password?

FIREBASE_CREDENTIALS={
  "type": "service_account",
  "project_id": " *** ",
  "private_key_id": " *** ",
  "private_key": "-----BEGIN PRIVATE KEY-----\n *** \n-----END PRIVATE KEY-----\n",
  "client_email": " *** ",
  "client_id": " *** ",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": " *** ",
  "universe_domain": "googleapis.com"
}