/* buton */
.batman{
  position: relative;
  width: 8rem;
  height: 8rem;
  clip-path: polygon(12.5% 0%, 37.5% 0%, 50% 12.5%, 62.5% 0%, 87.5% 0%, 100% 12.5%, 87.5% 25%, 62.5% 25%, 50% 37.5%, 37.5% 25%, 12.5% 25%, 0% 12.5%)
}
.hexagon {
  position: relative;
  width: 12rem;
  height: 12rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}