body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color:#01181b
}
.container {
    max-width: 700px;
    margin: auto;
    padding: 70px;
    border: 5px solid #008d86;
    border-radius: 20px;
}
.hidden {
    display: none;
}
.file-link {
    display: block;
    margin: 5px 0;
    color: #007bff;
    text-decoration: none;
}
.file-link:hover {
    text-decoration: underline;
}

.buttontur {
    background-color: #008d86;
    border: 1px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
.buttonyel {
    background-color: #ebdb01;
    border: 1px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
.buttonblue {
    background-color: #0004e7;
    border: 1px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
.buttonpurple {
    background-color: #8e00e0;
    border: 1px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
.buttonpurple::placeholder {
    color: #ffffff;
    opacity: 1; 
}
.button4 {border-radius: 12px;}

#progressContainer {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

#progressBar {
    width: 0;
    height: 25px;
    background-color: #4caf50;
    text-align: center;
    line-height: 25px;
    color: white;
    border-radius: 5px;
}